body {
    font-family: Arial, Helvetica, sans-serif;
}

.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    margin: 0;
}

button {
    margin: 5px;
}

#timer-display {
    display: flex;
    justify-content: center;
    margin-top: 7.5vh;
    font-size: 2rem;

}

#correct-or-wrong {
    display: flex;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
}

#scores-list {
    text-decoration: none;
}

.scores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    margin: 0;
}